@import './base.css';


html, body, #app {
    height: 100%; /* Ensure html, body, and your main app container take full height */
    margin: 0;
}

body {
    background-color: #fff;
}

/* h1, h2, h3, section, img, p, details, summary, div {
    border: 1px solid #000;
} */

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1280px;
    height: max-content;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
  /* border: 1px solid red; */
}

@media (max-width: 600px) {
    #app {
        padding: .5rem;
    }
}